.wrapper{
  display: flex;
  height: 100vh;
  align-items: center;
  .calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $shadow-1;
    padding: 50px;
    border-radius: 50px;
    .calculator__title{
      display: flex;
      justify-content: center;
    }
    .calculator__inputs{
      display: flex;
      flex-direction: column;
      .calculator__inputs-block{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        input{
          margin-top: 20px;
        }
      }
    }
    .calculator__controls{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
}