$basic-font: 'Open Sans', sans-serif;

$main-color: #dde7ee;
$text-color: #525252;
$shadow-1: 20px 20px 45px #bcc4ca,
          -20px -20px 45px #feffff;
$shadow-2:  inset 20px 20px 45px #bcc4ca,
            inset -20px -20px 45px #feffff;
$shadow-gradient-1: linear-gradient(145deg, #c7d0d6, #ecf7ff);
$shadow-gradient-2: linear-gradient(145deg, #ecf7ff, #c7d0d6);

@mixin flatStyle() {
  background: #dde7ee;
  box-shadow:  20px 20px 60px #bcc4ca,
  -20px -20px 60px #feffff;
}

@mixin concaveStyle() {
  background: linear-gradient(145deg, #c7d0d6, #ecf7ff);
  box-shadow:  20px 20px 60px #bcc4ca,
  -20px -20px 60px #feffff;
}

@mixin convexStyle() {
  background: linear-gradient(145deg, #ecf7ff, #c7d0d6);
  box-shadow:  20px 20px 60px #bcc4ca,
  -20px -20px 60px #feffff;
}

@mixin pressedStyle() {
  background: #dde7ee;
  box-shadow: inset 20px 20px 60px #bcc4ca,
  inset -20px -20px 60px #feffff;
}