@import "variables";
@import "converter";

body{
  font-family: $basic-font;
  margin: 0;
  padding: 0;
  background: $main-color;
  color: $text-color;
}

.wrapper{
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
}

button{
  @include flatStyle;
  color: $text-color;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  transition: 400ms ease;
  &:focus{
    outline: none;
    border: 0;
  }
  &:hover{
    transition: 400ms ease;
    @include concaveStyle;
  }
}

input{
  @include flatStyle;
  border: 0;
  height: 30px;
  border-radius: 10px;
  color: $text-color;
  padding: 15px 20px 15px 20px;
  &:focus{
    outline: none;
    @include concaveStyle;
  }
}